body
{
  background: url('../images/background_index.jpg') no-repeat center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-blend-mode: darken;
}
.stockmarketpicture {
  height: 100px;
}

.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  position: relative;
}

.navbar .container {
  position: relative;
}

.brand {
  font-size: 1.5em;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  justify-content: center;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  background-color: #333;
  border-radius: 5px;
  text-align: center;
}

.menu-item {
  margin: 0;
}

.menu-item a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}

.menu-item a:hover {
  background-color: #444;
}

.dropdown:hover .menu {
  display: block;
}

.content {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 80%;
}

.main-content {
  margin: 20px auto;
  text-align: center;
  max-width: 80%;
}

body {
  border-width: 1px;
  text-align: center;
}

.btn {
  display: inline-block;
  width: auto;
  height: 30px;
  border: 1px solid black;
  background: white;
  color: black;
  line-height: 30px;
  text-align: center;
  padding: 0 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.btn:hover {
  cursor: pointer;
}