/* Global Styles */
body {
  font-family: 'Times New Roman', Times, serif, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: url('../images/background_index.jpg') no-repeat center center fixed;
  background-size: cover;
  background-blend-mode: darken;
  background-position: center center;
  display: flex;
  flex-direction: column;
}

header,
footer {
  width: 100%;
}

/* Navbar */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-size: 1.5em;
  color: #fff;
  text-decoration: none;
}

/* Dropdown Menu */
.dropdown {
  position: relative;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  background-color: #333;
  border-radius: 5px;
  text-align: center;
  min-width: 150px;
}

.menu-item {
  margin: 0;
}

.menu-item a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}

.menu-item a:hover {
  background-color: #444;
}

.dropdown:hover .menu {
  display: block;
}

/* Main Content */
main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container for Paragraph and Button */
.center-container {
  text-align: center;
  margin: auto;
}

/* Paragraphs */
.paragraphs {
  max-width: 800px;
  padding: 20px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: auto;
  text-align: center;
}

/* Buttons */
/* Buttons */
.btnchange,
.btn-contact {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  /* Smooth transition for all properties */
}

.btnchange {
  display: block;
  margin: 20px auto;
  text-align: center;
  /* Ensures text within button is centered */
}

/* Hover and Click States */
.btnchange:hover,
.btnchange:active,
.btn-contact:hover,
.btn-contact:active {
  background-color: #444;
  padding: 10px 30px;
  /* Expands padding for a larger button */
  transform: scale(1.05);
  /* Slightly increases the size of the button */
}

.btn-contact {
  display: inline-block;
  width: 200px;
  text-decoration: none;
  margin: 20px auto;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: auto;
  width: 100%;
  font-size: 14px;
}

/* Logo */
.logo {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}